.venv/*
2.1 Flask/homework/__pycache__/db.cpython-312.pyc
2.1 asyncio/__pycache__/models.cpython-312.pyc
2.3 Aiohttp/__pycache__/async_db.cpython-312.pyc
2.3 Aiohttp/__pycache__/aync_db.cpython-312.pyc
*.db
